<h4>Effects</h4>
<div id="effects">
  <input type="button" class="revert" value="Original">
  <input type="button" class="invert" value="Invert">
  <input type="button" class="desaturate" value="Desaturate">
  <input type="button" class="brightness" value="Brightness">
  <input type="button" class="darkness" value="Darkness">
  <input type="button" class="contrast" value="Contrast">
  <input type="button" class="laplace" value="Laplace">
  <input type="button" class="sepia" value="Sepia">
  <input type="button" class="hue" value="Hue">
  <input type="button" class="solarize" value="Solarize">
  <input type="button" class="transparent" value="Transparent">
  <input type="button" class="transparent2" value="Transparent 2">
</div>
<h4>Base Image</h4>
<div id="capture">
  <div id="base-image-wrapper">
    <% if @project.image_base %>
      <%= image_tag @project.image_base.url, id: "base-image" %>
    <% else %>
      <%= image_tag "/images/default.png", id: "base-image" %>
    <% end %>
    <img id="thumbimage" style="display:none"/>
  </div>
  <div id="camera-image">
    <video autoplay></video>
    <canvas class="thumb-camera" style="display:none"></canvas>
    <canvas class="camera" style="display:none"></canvas>
    <img id="captured-image" style="display:none"/>
  </div>
</div>
<div id="opacity-controls">
  <h4>Opacity</h4>
  <div id="slider-opacity"></div>
</div>
