<h4>Effects</h4>
<div id="effects">
  <input type="button" class="revert" value="Original">
  <input type="button" class="invert" value="Invert">
  <input type="button" class="desaturate" value="Desaturate">
  <input type="button" class="brightness" value="Brightness">
  <input type="button" class="darkness" value="Darkness">
  <input type="button" class="contrast" value="Contrast">
  <input type="button" class="laplace" value="Laplace">
  <input type="button" class="sepia" value="Sepia">
  <input type="button" class="hue" value="Hue">
  <input type="button" class="solarize" value="Solarize">
  <input type="button" class="transparent" value="Transparent">
  <input type="button" class="transparent2" value="Transparent 2">
</div>
<h4>Base Image</h4>
<div id="capture">
  <div id="camera-image">
    <video autoplay></video>
    <canvas class="camera" style="display:none">
    </canvas>
  </div>
  <div id="base-image-wrapper">
    <% if @project.image_base %>
      <%= image_tag @project.image_base.url(:large), id: "baseimage" %>
    <% else %>)
      <%= image_tag("snapbutton.png", id: "snapshot-button") %>
     <% end %>
  </div>
<h4>Transparency</h4>
<div class="slider"></div>
