<div>
	<input type="button" class="invert" value="Invert"><br>
	<input type="button" class="revert" value="Revert"><br>
	<input type="button" class="desaturate" value="Desaturate"><br>
	<img id="testimage" src="/images/Wildebeest.jpg"/>
</div>
