<script type="text/javascript">
	var pixastic_parseonload = true;
</script>
<div id="effects">
  <h4>Effects</h4>
  <div class="revert"><img title="Original" src="/images/default32.png"></div>
  <div class="invert"><img title="Invert" class="pixastic pixastic-invert" src="/images/default32.png"></div>
  <div class="desaturate"><img title="Desaturate" class="pixastic pixastic-desaturate" src="/images/default32.png"></div>
  <div class="brightness"><img title="Brightness" class="pixastic pixastic-brightness(brightness=50)" src="/images/default32.png"></div>
  <div class="darkness"><img title="Darkness" class="pixastic pixastic-brightness(brightness=-50)" src="/images/default32.png"></div>
  <div class="contrast"><img title="Contrast" class="pixastic pixastic-brightness(contrast=0.5)" src="/images/default32.png"></div>
  <div class="laplace"><img title="Laplace" class="pixastic pixastic-laplace(edgeStrength=0.9)" src="/images/default32.png"></div>
  <div class="sepia"><img title="Sepia" class="pixastic pixastic-sepia" src="/images/default32.png"></div>
  <div class="hue"><img title="Hue" class="pixastic pixastic-hsl(hue=32)" src="/images/default32.png"></div>
  <div class="solarize"><img title="Solarize" class="pixastic pixastic-solarize" src="/images/default32.png"></div>
  <div class="transparent"><img title="Transparent" class="pixastic pixastic-transparent" src="/images/default32.png"></div>
  <div class="transparent2"><img title="Transparent 2" class="pixastic pixastic-transparent(white=true)" src="/images/default32.png"></div>
</div>
<div id="opacity-controls">
  <h4>Opacity</h4>
  <div id="slider-opacity"></div>
</div>
<div id="capture">
  <div id="base-image-wrapper">
    <% if @project.image_base %>
      <%= image_tag @project.image_base.url, id: "base-image" %>
    <% else %>
      <%= image_tag "/images/default.png", id: "base-image" %>
    <% end %>
    <img id="thumbimage" style="display:none"/>
  </div>
  <div id="camera-image">
    <video autoplay></video>
    <canvas class="thumb-camera" style="display:none"></canvas>
    <canvas class="camera" style="display:none"></canvas>
    <img id="captured-image" style="display:none"/>
  </div>
</div>
<label><input type="checkbox" id="use_as_base" checked="checked"/>Use captured image as next base image.</label>
