<div class="container">
  <div class="content">
    <% if File.exists? @project.video_output_path %>
      <h1><%= t('your_video_is_here')%></h1>

      <p>Access the link with your video <%= link_to "here", @project.video_url %></p>

      <p>Or wait to watch here: </p>

      <video src="<%= @project.video_url %>" id="output_video"></video>
    <% else %>
      <h1><%= t 'exporting' %></h1>
    <% end %>
  </div>
</div>
