/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */
html {
	background-image: url(/images/background.png);
}
body {
	width: 1000px;
	margin: 0 auto ! important;
	background: transparent ! important;
}
.brand {
	background: url(/images/brand.png) no-repeat;
	height: 65px;
	width: 360px;
	margin: -30px 0px;
	text-indent: -9000px;
}
.brand:hover {
	background-color: transparent ! important;
}
.navbar-inner {
	width: 1170px;
	padding: 30px 30px 20px ! important;
}
#effects {
	overflow: auto;
	float: left;
	width: 90px;
	white-space: nowrap;
	height: 500px;
	border-radius: 10px;
	border: 2px solid white;
	padding: 10px 15px;
	margin: 0 25px;
	border-radius: 10px;
}
#base-image, #effects {
	text-align: center;
}
#effects > div {
	float: left;
	margin: 6px 6px;
	height: 32px;
	width: 32px;
}
#capture {
	margin: 0 auto;
	height: 500px;
	width: 500px;
	border: 10px solid black;
}
#base-image-wrapper, #camera-image {
	height: 500px;
	width: 500px;
	overflow: hidden;
}
#base-image-wrapper, #camera-image { 
	position: absolute;
}
#base-image-wrapper { 
	z-index: 1;
}
#camera-image { 
	background-color: #eee;
}
#capture video { 
	margin: 0 -85px;
}
/*
#captured-image { 
	margin: 0 -83px;
}
*/
#capture canvas, #base-image-wrapper img { 
	display: block;
	height: 500px;
	width: 500px;
}
#capture video {
	display: block;
	height: 500px;
}
#controls {
	clear: both;
	text-align: center;
}
#controls img {
	margin: 0 15px;
}
#opacity-controls {
	float: right;
	height: 500px;
	width: 100px;
	margin: 0 25px;
	border: 2px solid white;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}
#slider-opacity {
	float:left;
	height: 400px;
	margin: 10px 40px;
}
#context-container {
	background-color: rgba(0,0,0,0.3);
	padding: 30px 0;
}
img.active, img:hover {
	background: url(/images/isselected.png) no-repeat;
}
.form-actions {
	background-color: rgba(255,255,255,0.3) !important;
}
.control-group {
	margin-bottom: 10px ! important;
}
.navbar-inner {
	background: none ! important;
	border: none ! important;
	padding: 0 ! important;
}
.navbar {
	margin: 0 ! important;
}
.navbar .brand {
	float: none ! important;
	margin: 0 auto ! important;
}
.page-header {
	margin: 0px 0 20px ! important;
}
h1 {
	margin: 10px 0 0 ! important;
}
.table td:last-child {
	width: 90px;
}
#images-context img {
	margin: 7px;
	height: 128px;
	width: 128px;
}
