/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */
html {
	background-image: url(/images/background.png);
}
body {
	width: 1000px;
	margin: 0 auto ! important;
}
.brand {
	background: url(/images/brand.png) no-repeat;
	height: 65px;
	width: 360px;
	margin: -30px 0px;
	text-indent: -9000px;
}
.brand:hover {
	background-color: transparent ! important;
}
.navbar-inner {
	padding: 30px 30px 20px ! important;
}
#effects {
	overflow: auto;
	white-space: nowrap;
}
#base-image, #effects {
	text-align: center;
}
#effects > * {
	float: left;
	margin: 6px 3px;
}
#capture {
	height: 500px;
}
#base-image-wrapper, #camera-image {
	height: 500px;
	width: 500px;
	overflow: hidden;
}
#base-image-wrapper, #camera-image { 
	margin: 0 107px;
	position: absolute;
}
#base-image-wrapper { 
	z-index: 1;
}
#camera-image { 
	background-color: #eee;
}
#capture video { 
	margin: 0 -87px;
}
/*
#captured-image { 
	margin: 0 -83px;
}
*/
#capture canvas, #base-image-wrapper img { 
	display: block;
	height: 500px;
	width: 500px;
}
#capture video {
	display: block;
	height: 500px;
}
#controls {
	text-align: center;
}
