// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timelapse-box {
  margin-bottom:  5px;
  margin-left: 35%;
  border-color: gray 1px dotted;


}
